*{
    /* color: rgb(70, 247, 232); */
    background-color: rgba(189, 240, 6, 0.705);
    background-image: url(/Background.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
h1{
    color: rgb(243, 12, 89);
    align-self: center;
}
p,a{
    padding-left: 13%;
    color: violet;
}
/* .glow{
    font-size: 30px;
    color: hotpink;
} */
a{
    color:  rgb(248, 7, 156);
}
img{
    padding-left: 31%;
    padding-bottom:5%;
}
h3{
    color: rgba(197, 5, 197, 0.776);
}
