*{
    background-color: whitesmoke;
    margin: 0;
}
li{
    display: inline;
}
.logo{
    /* border: 1px solid black; */
    margin-left: 1%;
    margin-top: 2%;
}

ul{
    /* border: 2px solid black; */
    width: 15%;
    margin-left: 30%;
    margin-top: 0px;
    cursor: pointer;
}
.heading{
    margin-top: 2%;
    display: flex;
    margin-left: 1%;
}
nav{
    margin-left: 32%;
}
a{
    color: black;
    text-decoration: none;
}
li{
    /* border: 1px solid black; */
    padding-left: 7px;
    padding-right: 7px;
}
.para{
    font-size: 1rem;
    /* border: 1px solid black; */
    width: 40%;
    margin-left: 1%;
    margin-top: 2%;
    font-size: large;

}
 
